<div class="fullpage">
    <div class="section" id="sectiontitle">
        <div class="panel" id="paneltitle">
            <h2>{{debate._debateTopic}}</h2>
        </div>
        <h4> Round {{ud.find_user("Justin","123", ud).name}} </h4>
        {{debate_index}}
    </div>
    <div class="myBox">
        <input type="hidden" id="loginname" value="{{user.getUsername()}}" />
        <input type="hidden" id="debateindex" value="{{debate.getDebateId()}}" />
        <input type="hidden" id="displayname" />
        <ul id="discussion"></ul>
    </div>
    <script>
        // console.log($('#debateindex').val());

        $(function () {
            var chat = $.connection.chatHub;

            // Declare a function on the chat hub so the server can invoke it
            chat.client.addMessage = function (name, message) {
                var encodedName = $('<div />').text(name).html();
                var encodedMsg = $('<div />').text(message).html();

                $('#discussion').append('<li><strong>' + encodedName
                    + '</strong>:&nbsp;&nbsp;' + encodedMsg + '</li>');

            };

            // Start the connection.

            $.connection.hub.start(function () {
                chat.server.join($('#debateindex').val());
            });

            $.connection.hub.start().done(function () {

                $("#broadcast").click(function () {
                    // Call the chat method on the server
                    chat.server.send($('#debateindex').val(), $('#msg').val(), $('#loginname').val());
                    console.log($('#msg').val());
                    $('#msg').val('').focus();

                });
                $("#leave").click(function () {
                    // leave the chat method on the server
                    chat.server.leave($('#debateindex').val());
                    window.location = './index.html';

                });
            });
        });
    </script>

    <div class=" textboox">
        <input type="text" id="msg" />
        <input type="button" id="broadcast" value="send" />
    </div>
    <div class="leaveBox">
        <input type="button" id="leave" value="EXIT" />
    </div>
    <div class="section" id="sectionstage">
        <div class="panel portrait" id="playerone">
            <p> {{score_one}}</p>
        </div>
        <div class="panel stage {{a_string}}" id="stageone" ng-click="depressed('a')">
            {{player_one}}
        </div>
        <div class="panel stage {{b_string}}" id="stagetwo" ng-click="depressed('b')">
            {{player_two}}
        </div>
        <div class="panel portrait" id="playertwo">
            <p> {{score_two}} </p>
        </div>
    </div>
    <!-- <div class="section" id="sectionvote">
        <div class="button vote" id="voteone"></div>
        <div class="button vote" id="votetwo"></div>
    </div> -->
    <div class="section" id="sectionchat">
        <div class="panel" id="chatcontainer">
            <div class="panel" id="chatuser">{{ud.user}}</div>
            <input type="text" id="messenger"
                   value="" name="messenger">
            <div id="chatmode"></div>
            <div id="send"></div>
        </div>
        <div class="panel" id="audience" ng-click="depressed('c')"></div>
    </div>
</div>

<!-- <div class="container">

<div>
    <div class="posts" id="playerone">
      <textarea rows="10" disabled></textarea>
    </div>

    <div class="posts" id="playertwo">
      <textarea rows="10" disabled></textarea>
    </div>
</div>

<div>
  <div class="textinput">
    <div class="container">
      <textarea rows="3" cols="50"></textarea>
    </div>
  </div>
</div>

</div> -->
