<div class="panel" id="login">
  <label>Username:
    <input type="text" name="username" ng-model="username"
            required ng-trim="false">
  </label>


  <label>Password:
    <input type="password" name="password" ng-model="password"
           required ng-trim="false">
  </label>
  
  
  
 <button style="background-color:black; display:block" ng-click="login()" >login</button>
 <button style="background-color:black; display:block" ng-click="register()" >register</button>
  

  <a href="{{escape_link}}" ng-click="signout()"> {{ud.logout_string}} </a>
</div>