@{
    ViewData["Title"] = "Home Page";
}

<div class= "room"> </div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
 <script src="~/lib/signalr/jquery.signalR-2.2.0.js"></script>
<script src= "/signalr/hubs" ></script>

<script>
    let chat = $.connection.chat;
    let hub = $.connection.hub;

    chat.client.sayHello = function (msg) {
        let p = $('<p>').text(msg);

        $('.room').append(p);
    };

    hub.start().done(function (){
        chat.server.hello
    
    })


</script>